#menu{
    color:white;
    text-align: left;
    font-weight: bolder;
    margin-left: 30px;
}
h4{
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
}
h2{
    font-family: sans-serif;
}
h1{
    color: black;
    margin-left: 520px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 50px;
    text-align: left;

}
body {
    width: 80;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #D8FFD0;
}
.search{
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0.01px;
  padding-bottom: 0.01px;
  align-items: center;
  margin-left: 100px;
  width: 540px;
  border-radius: 15px;
  text-align: center;
}
   p{
    text-align: center;
   }
   .sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url('images/bg.png');
    overflow-x: hidden;
    padding-top: 20px;
    font-family: sans-serif;
  }
  .sidenav2 {
    height: 100%;
    width: 300px;
    position: fixed;
    font-family: sans-serif;
    z-index: 1;
    top: 0;
    right: 0;
    background-image: url('images/bg.png');
    overflow-x: hidden;
    padding-top: 20px;
    text-align: right;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 40px;
    color: white;
    display: block;
    text-align: center;
  }
  
  .sidenav a:hover {
    color: black;
  }
  
  .main {
    margin-left: 340px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav2 {width: 50px;}

  }
  @media screen and (max-width: 1700px) {
    .sidenav2 {width: 50px;}

  }
  
.rtable{
    align-items: center;
    margin-left: 100px;
    max-width: 400px;
    border-radius: 15px;
    text-align: center;
    width: fit-content;
}
.funfact{
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: green;
    background-color: #73B45F;
    text-align: left;
}
.funtext{
    margin-left: 15px;
    max-width: 270px;
    font-size: 22px;
}
.calender{
    align-items: center;
    width: 700px;
    height: 250px;
    width: 850px;
    margin-left: 25px;
}
.see{
    border: 1px solid black;
}
.cal{
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;
    margin-left: 100px;
    width: 900px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
  }
  .left{
    text-align: left;
  }